<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CodeFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ManualCode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CodeFlow.Properties.Settings>
            <setting name="ConnectionStrings" serializeAs="String">
                <value />
            </setting>
            <setting name="LastActiveProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="ColTypeSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColTagSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ColTipoSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColPlatSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColCodeSize" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="ToolVersion" serializeAs="String">
                <value />
            </setting>
        </CodeFlow.Properties.Settings>
        <ManualCode.Properties.Settings>
            <setting name="ConnectionStrings" serializeAs="String">
                <value/>
            </setting>
        </ManualCode.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
